// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#hikes-table {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
  background: #c9dff0;
}

#hikes-table thead {
  cursor: pointer;
  background: #c9dff0;
}
#hikes-table thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#hikes-table thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#hikes-table thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#hikes-table thead tr th.headerSortUp span {
  background: yellow;
}
#hikes-table thead tr th.headerSortDown span {
  background: red;
}

#hikes-table tbody tr {
  color: #555;
}
#hikes-table tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#hikes-table tbody tr td.lalign {
  text-align: left;
}
